In [1]:
# Dependencies
import pandas as pd

### Year 2019

In [2]:
# Files to Load for year 2019
june_2019_data_to_load = "Resources/JC-201906-citibike-tripdata.csv"
july_2019_data_to_load = "Resources/JC-201907-citibike-tripdata.csv"
august_2019_data_to_load = "Resources/JC-201908-citibike-tripdata.csv"
september_2019_data_to_load = "Resources/JC-201909-citibike-tripdata.csv"
october_2019_data_to_load = "Resources/JC-201910-citibike-tripdata.csv"
november_2019_data_to_load = "Resources/JC-201911-citibike-tripdata.csv"

# Reading each month Data File and storing into Pandas DataFrames
june2019_data = pd.read_csv(june_2019_data_to_load)
july2019_data = pd.read_csv(july_2019_data_to_load)
august2019_data = pd.read_csv(august_2019_data_to_load)
september2019_data = pd.read_csv(september_2019_data_to_load)
october2019_data = pd.read_csv(october_2019_data_to_load)
november2019_data = pd.read_csv(november_2019_data_to_load)

In [3]:
# Combining the data into a single dataset. 
y2019_df = pd.concat([june2019_data, july2019_data, august2019_data, 
                      september2019_data, october2019_data, november2019_data])

In [4]:
# Cleaning up data 
# Making column titles the same for the four years chosen

y2019_renamed = y2019_df.rename(columns={"tripduration":"trip_duration_(s)",
                         "starttime": "started_at", 
                         "stoptime": "ended_at", 
                         "start station id": "start_station_id", 
                         "start station name": "start_station_name",
                         "start station latitude": "start_lat",
                         "start station longitude": "start_lng",
                         "end station id": "end_station_id",
                         "end station name": "end_station_name",
                         "end station latitude": "end_lat",
                         "end station longitude": "end_lng",    
                         "bikeid": "bike_id",
                         "usertype":"user_type",
                         "birth year": "birth_year"})

In [5]:
# Replacing some values to more meaningful ones
y2019_renamed.loc[y2019_renamed['user_type'] == 'Subscriber', 'user_type'] = 'member'
y2019_renamed.loc[y2019_renamed['user_type'] == 'Customer', 'user_type'] = 'casual'
y2019_renamed.loc[y2019_renamed['gender'] == 0, 'gender'] = 'unknown'
y2019_renamed.loc[y2019_renamed['gender'] == 1, 'gender'] = 'M'
y2019_renamed.loc[y2019_renamed['gender'] == 2, 'gender'] = 'F'

y2019_renamed.head()

,trip_duration_(s),started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bike_id,user_type,birth_year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,member,1993,M
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,member,1984,M
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,casual,1969,unknown
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,casual,1969,unknown
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,member,1994,M

In [6]:
# Writing dataset to a csv file. 
y2019_renamed.to_csv('year2019_jun_to_nov.csv', index=False)

### Year 2020

In [7]:
# Files to Load for year 2020
june_2020_data_to_load = "Resources/JC-202006-citibike-tripdata.csv"
july_2020_data_to_load = "Resources/JC-202007-citibike-tripdata.csv"
august_2020_data_to_load = "Resources/JC-202008-citibike-tripdata.csv"
september_2020_data_to_load = "Resources/JC-202009-citibike-tripdata.csv"
october_2020_data_to_load = "Resources/JC-202010-citibike-tripdata.csv"
november_2020_data_to_load = "Resources/JC-202011-citibike-tripdata.csv"

# Reading each month Data File and storing into Pandas DataFrames
june2020_data = pd.read_csv(june_2020_data_to_load)
july2020_data = pd.read_csv(july_2020_data_to_load)
august2020_data = pd.read_csv(august_2020_data_to_load)
september2020_data = pd.read_csv(september_2020_data_to_load)
october2020_data = pd.read_csv(october_2020_data_to_load)
november2020_data = pd.read_csv(november_2020_data_to_load)

In [8]:
# Combining the data into a single dataset. 
y2020_df = pd.concat([june2020_data, july2020_data, august2020_data, 
                      september2020_data, october2020_data, november2020_data])

In [9]:
# Cleaning up data 
# Making column titles the same for the four years chosen

y2020_renamed = y2020_df.rename(columns={"tripduration":"trip_duration_(s)",
                         "starttime": "started_at", 
                         "stoptime": "ended_at", 
                         "start station id": "start_station_id", 
                         "start station name": "start_station_name",
                         "start station latitude": "start_lat",
                         "start station longitude": "start_lng",
                         "end station id": "end_station_id",
                         "end station name": "end_station_name",
                         "end station latitude": "end_lat",
                         "end station longitude": "end_lng",    
                         "bikeid": "bike_id",
                         "usertype":"user_type",
                         "birth year": "birth_year"})

In [10]:
# Replacing some values to more meaningful ones
y2020_renamed.loc[y2020_renamed['user_type'] == 'Subscriber', 'user_type'] = 'member'
y2020_renamed.loc[y2020_renamed['user_type'] == 'Customer', 'user_type'] = 'casual'
y2020_renamed.loc[y2020_renamed['gender'] == 0, 'gender'] = 'unknown'
y2020_renamed.loc[y2020_renamed['gender'] == 1, 'gender'] = 'M'
y2020_renamed.loc[y2020_renamed['gender'] == 2, 'gender'] = 'F'

y2020_renamed.head()

,trip_duration_(s),started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bike_id,user_type,birth_year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,member,1987,M
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,member,1988,M
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,member,1987,M
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,member,1987,M
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,member,1972,F

In [11]:
# Writing dataset to a csv file. 
y2020_renamed.to_csv('year2020_jun_to_nov.csv', index=False)

## Final dataset

In [20]:
# Combining the data into a final dataset and printing it out as a csv file
covid_years_df_jun_to_nov = pd.concat([y2019_renamed, y2020_renamed])
covid_years_df_jun_to_nov.to_csv('covid_years_jun_to_nov_citibike.csv', index=False)

In [15]:
covid_years_df_jun_to_nov.dtypes

trip_duration_(s)       int64
started_at             object
ended_at               object
start_station_id        int64
start_station_name     object
start_lat             float64
start_lng             float64
end_station_id          int64
end_station_name       object
end_lat               float64
end_lng               float64
bike_id                 int64
user_type              object
birth_year              int64
gender                 object
dtype: object

## Final dataset with datetime data type

In [17]:
covid_years_formatted = covid_years_df_jun_to_nov.copy()
covid_years_formatted["started_at"] = pd.to_datetime(covid_years_formatted["started_at"])
covid_years_formatted["ended_at"] = pd.to_datetime(covid_years_formatted["ended_at"])
covid_years_formatted.head()

,trip_duration_(s),started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bike_id,user_type,birth_year,gender
0,316,2019-06-01 00:05:55.721,2019-06-01 00:11:11.994,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,member,1993,M
1,280,2019-06-01 00:08:09.092,2019-06-01 00:12:50.073,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,member,1984,M
2,2162,2019-06-01 00:13:11.880,2019-06-01 00:49:14.364,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,casual,1969,unknown
3,2184,2019-06-01 00:13:30.111,2019-06-01 00:49:54.225,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,casual,1969,unknown
4,139,2019-06-01 00:13:31.852,2019-06-01 00:15:51.788,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,member,1994,M

In [18]:
covid_years_formatted.dtypes

trip_duration_(s)              int64
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_id               int64
start_station_name            object
start_lat                    float64
start_lng                    float64
end_station_id                 int64
end_station_name              object
end_lat                      float64
end_lng                      float64
bike_id                        int64
user_type                     object
birth_year                     int64
gender                        object
dtype: object

In [21]:
# Printing it out as a csv file
covid_years_formatted.to_csv('covid_years_formatted.csv', index=False)